<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Принятие товара</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.4.1.js"></script>
</head>
<body>

<form method="get" th:action="@{oformProductAktVozvrataSecond}">
    <input type="hidden" th:value="${pk}" name="pk">
    <input type="hidden" th:value="${pk_tovara}" name="pk_tovara">


    <label>Номер акта
        <input type="text" name="number">
    </label><br>

    <label>Дата оформления
        <input type="date" name="dataOform">
    </label><br>

    <label>Товар починен
        <input type="checkbox" name="problem">
    </label><br>

    <button type="submit">Оформить акт</button>
</form>

</body>
</html>