<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Центр сервисного ремонта</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>

<div th:replace="remontnik/home :: menu"></div>

<div class="container">
    <div class="row">
        <div class="col center">
            <h1>Товары, ожидающие ремонта:</h1>
        </div>
    </div>
</div>

</body>
</html>